@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika:wght@300;500;700&display=swap');

body { font-size: 1em; font-weight: 300; font-family: 'Signika', sans-serif; line-height: 1.6em; padding: 0; margin: 0; background: #05060D; }
h1, h2 { font-family: 'Bebas Neue', cursive; font-weight: 300; letter-spacing: 2.5px; line-height: 1.2em; margin: 0; }
h1 { font-size: 3em; color: #edb63f; }
h2 { font-size: 2.5em; color: #edb63f; }
h3 { font-size: 2em; color: #edb63f; font-family: 'Signika', sans-serif; font-weight: 300; line-height: 1.2em; margin: 0; }
p { font-size: 1em; color: #fff; }
a { text-decoration: none; color: #edb63f; }
a:focus, button:focus { outline: 3px solid #edb63f; }
img { display: block; margin: auto; }
.capitalize { text-transform: uppercase; font-weight: 500; }
.website { padding: 5px; border: 2.5px solid; display: block; }
.sub { font-size: 1.4em; line-height: 1.6em; text-shadow: 0px 0px 5px rgb(0, 0, 0); }
.highlight { background: #fab533; color: #090924; margin: 2.5px; padding: 2.5px; border-radius: 2.5px; }
.branding { 
	width: 225px;
	height: 225px;
	display: block;
	margin: 1% auto;
	/*box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);*/
}
.branding-menu { width: 300px; height: 300px; margin: auto; display: block; }
header { 
	height: 85vh;
	width: auto;
	margin: auto;
	/*padding: 2%;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
}
.index-cover { background: #050608 url("../images/thonglor-interior-index.jpg") no-repeat center; height: 100vh; background-size: cover; box-shadow: 0px -125px 100px inset #080914; }
.menu-cover { background: #050608; }
#nav-menu { 
	background: #F0EDED;
	font-size: 1.2em;
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 5%; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
}
/*#nav-btn { display: block; width: auto; position: fixed; z-index: 200; top: 0; left: 0; font-size: 1.2em; margin: 15px; 
}*/
#container { margin-left: 5%; }
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  padding: 10% 0;
  display: block;
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;

  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:-5px; /* and add a small left margin */
  
  /* basic styles */
  width:100px;
  padding: 2.5%;
  border-radius:5px;
  background:#000;
  color: #fff;
  font-size: 0.8em;
  text-align:center;
  display:none;

}
.tooltip:after {
  content: "";
  position:absolute;
  
  /* position tooltip correctly */
  left:100%;
  margin-left:-20px;
 
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
 
  /* the arrow */
  border:10px solid #000;
  border-color: transparent black transparent transparent;
  
  display:none;
}
.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}
/*.site-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    height: 100vh;

    -webkit-transition: visibility 0s ease, opacity .2s ease;
    -moz-transition: visibility 0s ease, opacity .2s ease;
    -o-transition: visibility 0s ease, opacity .2s ease;
    transition: visibility 0s ease, opacity .2s ease;
}
.offside-js--is-open .site-overlay {
    visibility: visible;
    opacity: .7;
    -webkit-transition-delay: delay 0s;
    -o-transition-delay: delay 0s;
    transition-delay: delay 0s;
    cursor: url("../images/close.png") 16 16, pointer;
}*/

.fade {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.fade.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.roll-in {
    animation: roll 1.5s cubic-bezier(0.25, 1, 0.5, 1) 1;
}

@keyframes roll {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

main { background: #080914; }
footer { 
	background: #05060D;
	color: #fff;
	padding: 2.5% 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
button { 
	width: 150px;
	padding: 15px;
	background: #090924;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: inherit;
	cursor: pointer;
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    /*margin: 5% auto;*/
    display: inline-block;
}
a.modal-button { 
	width: 150px;
	padding: 15px;
	margin: auto;
	/*background: #EDB63F;*/
	color: #EDB63F;
	text-align: center;
	border: 2.5px solid #EDB63F;
	border-radius: 5px;
	font-size: inherit;
	cursor: pointer;
	opacity: 1;
	transition: color, background .10s ease-in-out;
    -moz-transition: color, background .10s ease-in-out;
    -webkit-transition: color, background .10s ease-in-out;
    /*margin: 5% auto;*/
    display: block;
}
a.map-button { 
	width: 150px;
	padding: 15px;
	background: #121214;
	color: #edb63f;
	margin: 5% 0;
	display: block;
	text-align: center;
	border: none;
	border-radius: 5px;
	opacity: 1;
	transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
button:hover, a.map-button:hover { opacity: 0.8; }
a.modal-button:hover { background: #EDB63F; color: #fff; }
.modal { background: #05060D !important; }
.modal a.close-modal { display: none !important; }
.modal img { display: block; max-width: 360px; width: 100%; margin: auto; }
.modal p { color: #fff; text-align: center; }

.full-height { height: 100vh; }

.stacking-slide {
	/*height: 100vh;
	width: 100%; */
	position: sticky;
	top: 0;
	background: black;
}

section { 
	max-width: 1366px;
	width: auto;
	margin: auto;
	padding: 5%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/*align-items: center;*/
	flex-wrap: wrap;
}
section:after { content:''; display: table; }
section.scroll-indicator { padding: 0 5%; justify-content: flex-end; text-align: right; display: none; }
section.story { 
	background: url("../images/thonglor-bangkok.jpg") no-repeat top left; 
	background-size: cover; 
	box-shadow: 200px -125px 125px inset #080914, -50px 125px 125px inset #080914;
	align-items: center;
}
section.story img { max-width: 480px; width: 100%; }
section.location { align-items: center; }
section.location img { max-width: 480px; width: 100%; }
section.find-us { max-width: 90%; justify-content: flex-end; align-items: flex-start; background: url('../images/thonglor-map.jpg') center no-repeat; height: 50vh; }
table.business-hours th {
  text-align: right; 
}
table.business-hours { margin: auto; }
th, td { padding: 2.5px; }
/*section:first-child { padding-bottom: 0; }*/
.justify-reset { justify-content: initial; display: block; }
.justify-reset h2 { text-align: initial; margin: 0.67em 0; }
.justify-reset ul { list-style: initial; padding: 0 2.5%; margin: 0; }
.justify-reset li { padding: 0; margin: 0; color: #fff; }
nav.scroll-wrapper { padding: 0 5%; background: #090924; }

section h2, p.subheading { width: 100%; }
p.subheading { color: #E9B857; }
hr { width: 100%; height: 3px; color: #fab533; background: #fab533; border: none; }

.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-12 { width: 100%; }

/*.sticky { position: fixed; top: 0; padding: 0;}*/

ul.tabs { 
	max-width: 1366px;
	width: 100%;
	padding: 0;
	margin: auto;
	display: flex; 
	flex-wrap: nowrap;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;  /* Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
}
ul.tabs::-webkit-scrollbar { 
	display: none;
}
ul.display {
	text-align: center;
	scrollbar-width: thin;
	scrollbar-color: #edb63f #121214;
}
ul.display::-webkit-scrollbar { 
	display: block;
	height: 7.5px;
	background: #090924;
}
ul.display::-webkit-scrollbar-thumb {
	background: #fab533;
}
ul.display li:focus { outline: none; }
ul.tabs li {
	flex: 0 0 auto;
	display: inline-block;
	padding: 0;
}
ul.tabs.display li { padding: 1%; }
ul.tabs.display li:first-child { padding-left: 0; }
ul.tabs.display li:last-child { padding-right: 0; }
ul.tabs.display li:nth-child(odd) img { border-top-left-radius: 35%; border-bottom-right-radius: 35%;}
ul.tabs.display li:nth-child(even) img { border-top-right-radius: 35%; border-bottom-left-radius: 35%;}
ul.tabs button { width: auto; padding: 20px; background: none; border-radius: 0; border-top: 3px solid transparent; border-bottom: 3px solid transparent; color: #fff; font-weight: inherit; }
ul.tabs button:focus { outline: none; border-bottom: 3px solid #fab533; }

[role="tabpanel"] {
	outline: none;
}

.divider { width: 90%; padding: 5%; }
.divider:last-child { padding-bottom: 0; }
.divider img { width: 320px; height: 137px; margin: auto; display:block; }

.food-item { 
	width: 49%;
	margin: 0.5%;
	display: flex;
	justify-content: center;
	/*border: 1px solid #F1D6B8;*/
	/*transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out; */
}
/*.food-item:hover { 
	transform: scale(1.0125);
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}*/
.food-item h3 { margin-top: 0; text-align: left; font-family: initial; font-size: 2em; }
.food-item img {
  opacity: 1;
  transition: opacity 1s;
}
 
.food-item img[data-src] {
  opacity: 0;
}

.preview { width: 100%; max-width: 270px; max-height: 270px; }
.price { color: #fff; font-weight: 700; }
.tags { display: inline-block; margin-right: 5px; font-family: 'Roboto', sans-serif; font-weight: 500; }
.spicy { color: #ee7674; }
.vegetarian { color: #33c825; }
.vegan { color: #25c88c; }
.gluten { color: #f09149; }
.peanuts { color: #CA9F7C; }
.content {
	padding: 5%;
	width: 90%;
}
.no-image { padding: 5% 0; width: 100%; }
ul { list-style: none; padding: 10%; margin: 0; }
li { line-height: 1.6em; padding: 5%;}
ul.primary, ul.primary li { padding: 0; }
ul.primary li a { color: #272d2d;  text-align: center;}
ul.secondary, ul.social { text-align: center; padding: 0; }
ul.secondary li, ul.social li { display: inline-block; padding: 1%; }
ul.secondary li a { text-decoration: underline; color: #fab533;}
li a { width: 100%; display: inline-block; }

/* i.fas { margin: 0 6.5px; vertical-align: middle; }*/
i.fa-mobile-alt, i.fa-wine-glass-alt { /*margin: 0 8.5px;*/ }
i.fa-images { /*margin: 0 3.5px;*/ }
i.fa-fw { font-size: 1.2rem; }
i.fa-subway { vertical-align: baseline; }
i.fa-level-up-alt { vertical-align: top; }

.line { display: inline-block; text-align: center; padding: 0 2.5px; border-radius: 25px; width: 20px; font-weight: 500; }
.line-1, .line-2, .line-3 { background: #ee352e; color: #fff; }
.line-F { background: #FF6319; }
.line-N, .line-Q, .line-R { background: #FCCC0A; color: #000; }
.line-A, .line-C, .line-E { background: #0039a6; color: #fff; }

ul.footer-links { text-align: right; }
ul.footer-links li { display: inline-block; padding: 0 1em; }

@media screen and (max-width: 1024px){
	#nav-menu { width: 15%; }
	#container { margin-left: 15%; }
	i.fa-fw { font-size: 2rem; }
	.food-item { width: 98%; margin: 1%; }
	section.scroll-indicator { display: flex; }
}

@media screen and (max-width: 767px){
	header { height: 100vh; }
	footer { margin-bottom: 15%; }
	.branding-menu { width: 200px; height: 200px; }
	section.find-us { align-items: flex-end; height: 65vh; }
	section.about-us, section.story { flex-direction: column-reverse; }
	.about-img, .map-img { height: 50vh; }
	section h2 { padding-top: 5%; }
	.food-item { display: block; }
	.food-item .content { width: 100%; padding: 5% 0; }
	.preview { max-width: 375px; max-height: 375px; width: 100%; display: block; margin: auto; }
	/*.divider img { width: 240px; height: 103px; }*/
	.col-xs { width: 100%; }
	ul.footer-links { text-align: center; }
	#nav-btn { top: auto; left: 50%; bottom: 0; margin-left: -37.5%; width: 75%;  }
	#nav-menu {
		background: #F0EDED;
		font-size: 1.2em;
		height: auto; /* Full-height: remove this if you want "auto" height */
		width: 100%; /* Set the width of the sidebar */
		position: fixed; /* Fixed Sidebar (stay in place on scroll) */
		z-index: 1; /* Stay on top */
		top: auto; /* Stay at the top */
		left: 0;
		bottom: 0;
	}
	#container { margin-left: 0; }
	ul.primary li { display: inline-block; width: 33.3333333%; float: left;}
	ul.secondary li { display: block; }
	ul.social li { padding: 2.5%; }
	.tooltip { padding: 5% 0; }
	.tooltip:hover:before, .tooltip:hover:after { display: none; }
	i.fa-home:after, i.fa-utensils:after, i.fa-mobile-alt:after, i.fa-wine-glass-alt:after, i.fa-shopping-bag:after {     
		font-size: 0.5em;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 300;
	    text-align: center;
	    line-height: 1.6em;
	    display: block; 
	}
	i.fa-home:after { content: 'Home'; }
	i.fa-utensils:after { content: 'Food'; }
	i.fa-mobile-alt:after { content: 'Call'; }
	i.fa-wine-glass-alt:after { content: 'Drink'; }
	i.fa-shopping-bag:after { content: 'Order'; }
}